sudo: false

language: go
go:
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - master
matrix:
  allow_failures:
    - go: master

before_script:
  - go get -uv github.com/onsi/ginkgo/ginkgo  # installs the ginkgo CLI
script:
  - ginkgo -r -p --randomizeAllSpecs --randomizeSuites --failOnPending --cover --trace --race --progress
